<div class="row">
    <h4>EXPERIENCIA LABORAL</h4>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
         <li>
            <h5>Experiencia 1</h5> - <h5>1990-1995</h5>
            <p alig="justify"> jlas jl jl daj d asdasll lelqw elwjelw ljwel 
                jeqwl jlqwl lej qwe jlqwewllejueqwpj lwqj e lwqj
            </p>
         </li>   
        </ul>
        <ul>
            <li>
               <h5>Experiencia 2</h5> - <h5>1998-2004</h5>
               <p alig="justify"> jlas jl jl daj d asdasll lelqw elwjelw ljwel 
                   jeqwl jlqwl lej qwe jlqwewllejueqwpj lwqj e lwqj
               </p>
            </li>   
           </ul>
           <ul>
            <li>
               <h5>Experiencia 3</h5> - <h5>2004-2005</h5>
               <p alig="justify"> jlas jl jl daj d asdasll lelqw elwjelw ljwel 
                   jeqwl jlqwl lej qwe jlqwewllejueqwpj lwqj e lwqj
               </p>
            </li>   
           </ul>
           <div class="col-lg-1"></div>
          </div>
</div>
