<div class="row">
    <div class="col-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
></circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [imageSrc]="'../assets/ingenieria-de-procesos.jpg'"
        [imageHeight]="60"
        [imageWidth]="60"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
></circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
></circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [imageSrc]="'../assets/ingenieria-de-procesos.jpg'"
        [imageHeight]="60"
        [imageWidth]="60"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="col-4 text-center">
        <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
></circle-progress>
    </div>
</div>
