<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPablo.png" class="img-fluid" style="border-radius: 20px;">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p>Pablo Gabriel Sainz</p>
    <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">    <h4>Sobre mí</h4>
    <p>mis facultades, habilidades,etc.</p>
    </div>
    <div>
        <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
    </div>
    <div>
        <circle-progress
  [percent]="60"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
    </div>
    <div>
        <circle-progress
  [percent]="75"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
    </div>
</div>